body{
    margin: 0;
    padding: 0;
    background-color: #e0ccde;
    font-family: Arial, Helvetica, sans-serif;   
}

nav{
    background-color: #b737c7;
    color:aliceblue;
    padding: 10px 0;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin:0 10px;
}

nav ul li a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;
}

form{
    background-color: aliceblue;
    max-width: 450px;
    margin:50px auto;
    padding: 24px 16px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form div div{
    display:flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

form div div label{
    font-weight: 600;
}

form div input[type="text"], 
form div input[type="email"],
form div input[type="password"],
form div select
{
    background-color: #e0ccde;
    border-radius: 4px;
    border: none;
    padding: 5px;
    width: 95%;
}

form div input[type="submit"]{
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border:none;
    border-radius: 6px;
    font-weight: 600;
    background-color:#ff58bc;
}

.formlabel{
    width: 50px;
}

table{
    width: 60%;
    max-width: 800px;
    margin: 50px auto;
    border-collapse: collapse;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: aliceblue;
}

table th, table td{
    padding: 4px;
    text-align: center;

}

table th{
    background-color: #b737c7;
    color:aliceblue;
}

h1{
    text-align: center;
    color:#ff58bc;
    font-family: Arial, Helvetica, sans-serif;
}

.mb {
    margin: 0 0 8px 0;
    padding: 0;
}

.error {
    font-size: 10px;
    color: crimson;
    margin-left: 12%;
}

.btndiv {
    text-align: center;
}